<html>
  <head>
    <title>Music Puzzle App</title>

    <script src="/static/js/lib/jquery-3.2.1.min.js"></script>
    <script src="/static/js/lib/d3.min.js"></script>
    <script src="/static/js/script.js"></script>
  </head>

  <body>
    <div id="audio_elements">
      <audio id="audioElement_A" src="/static/audio_files/piano/A.wav"></audio>
      <audio id="audioElement_Bb" src="/static/audio_files/piano/Bb.wav"></audio>
      <audio id="audioElement_B" src="/static/audio_files/piano/B.wav"></audio>
      <audio id="audioElement_C" src="/static/audio_files/piano/C.wav"></audio>
      <audio id="audioElement_C_sharp" src="/static/audio_files/piano/C_sharp.wav"></audio>
      <audio id="audioElement_D" src="/static/audio_files/piano/D.wav"></audio>
      <audio id="audioElement_Eb" src="/static/audio_files/piano/Eb.wav"></audio>
      <audio id="audioElement_E" src="/static/audio_files/piano/E.wav"></audio>
      <audio id="audioElement_F" src="/static/audio_files/piano/F.wav"></audio>
      <audio id="audioElement_F_sharp" src="/static/audio_files/piano/F_sharp.wav"></audio>
      <audio id="audioElement_G" src="/static/audio_files/piano/G.wav"></audio>
      <audio id="audioElement_G_sharp" src="/static/audio_files/piano/G_sharp.wav"></audio>
    </div>
  </body>


</html>
