<html>
    <head>
        <title>Music Puzzle App</title>

        <script src="/static/js/lib/jquery-3.2.1.min.js"></script>
        <script src="/static/js/lib/d3.min.js"></script>
        <script src="/static/js/initialize.js"></script>
        <script src="/static/js/script.js"></script>
        <script src="/static/js/piano.js"></script>
    </head>

    <body>
        <div id="keyboard_audio_elements">
            <audio id="audioElement_G2" src="/static/data/audio_files/piano/G2.mp3"></audio>
            <audio id="audioElement_G2_sharp" src="/static/data/audio_files/piano/G2_sharp.mp3"></audio>
            <audio id="audioElement_A2" src="/static/data/audio_files/piano/A2.mp3"></audio>
            <audio id="audioElement_A2_sharp" src="/static/data/audio_files/piano/A2_sharp.mp3"></audio>
            <audio id="audioElement_B2" src="/static/data/audio_files/piano/B2.mp3"></audio>
            <audio id="audioElement_C3" src="/static/data/audio_files/piano/C3.mp3"></audio>
            <audio id="audioElement_C3_sharp" src="/static/data/audio_files/piano/C3_sharp.mp3"></audio>
            <audio id="audioElement_D3" src="/static/data/audio_files/piano/D3.mp3"></audio>
            <audio id="audioElement_D3_sharp" src="/static/data/audio_files/piano/D3_sharp.mp3"></audio>
            <audio id="audioElement_E3" src="/static/data/audio_files/piano/E3.mp3"></audio>
            <audio id="audioElement_F3" src="/static/data/audio_files/piano/F3.mp3"></audio>
            <audio id="audioElement_F3_sharp" src="/static/data/audio_files/piano/F3_sharp.mp3"></audio>
            <audio id="audioElement_G3" src="/static/data/audio_files/piano/G3.mp3"></audio>
            <audio id="audioElement_G3_sharp" src="/static/data/audio_files/piano/G3_sharp.mp3"></audio>
            <audio id="audioElement_A3" src="/static/data/audio_files/piano/A3.mp3"></audio>
        </div>

    </body>


</html>
