#instructions {
    position: absolute;
    opacity: 1.0;
    height: 80%;
    width: 80%;
    top: 150px;
    left: 10%;
}

#keyboard_audio_elements {
    position: absolute;
}

#main_div {
    position: absolute;
}

#main_g {
    opacity: 0.0;
}